<mat-toolbar color="primary">
<mat-toolbar-row>
<ul class="header-box">
<li><span class="logo-icon"><img src="/assets/images/logo-icon-shyam-steel.png" alt=""></span></li>
<li><span>Internal Task Management</span></li> 
<!-- <li>
  <button mat-button [matMenuTriggerFor]="menu">HI Subhabrata <mat-icon>keyboard_arrow_down</mat-icon></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/"><mat-icon>settings_power</mat-icon>Logout</button>
  </mat-menu>
</li> -->
</ul>
</mat-toolbar-row>
