<mat-toolbar color="primary">
    <mat-toolbar-row>
    <ul class="header-box"> 
    <!-- <li><span class="logo-icon"><img src="/assets/images/logo-icon-shyam-steel.png" alt=""></span></li> -->
     <li><span class="logo-icon"><img src="{{img_logo}}" alt=""></span></li>
    <li><span>Internal Task Management</span></li> 

<li *ngIf="taskBtn">
  <ul class="taskmenu">
    <li [routerLinkActive]="'active'"><a routerLink ="/task-management-portal">Task Management</a></li>
    <li [routerLinkActive]="'active'"><a routerLink="/user-management-portal">User Management</a></li>
  </ul>
  
</li>

    <li *ngIf="loginMenu">
      <button mat-button [matMenuTriggerFor]="menu">Hi Administrator <mat-icon>keyboard_arrow_down</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item><mat-icon>settings_power</mat-icon>Logout</button>
      </mat-menu>
    </li>

    </ul>
    </mat-toolbar-row>
</mat-toolbar>

