ul.login-box{
    list-style: none;
    
    }

.login-box{
    width: 40%;
    margin: 0px auto;
  padding-top: 8%;
}

.mat-card {
    box-shadow: 1px 0px 6px #cccccc!important;
}


.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  

  ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

ul.submit-btn {
    display: flex;
    justify-content: center;
}

ul.login-data li:first-child h4 {
    margin: 0px;
    padding-bottom: 10px;
    border-bottom: solid 1px #ccc;
    margin-bottom: 15px;
    font-size: 17px;
    border-bottom: solid 1px #e7e7e7;
}



@media only screen and (max-width: 600px) {

  .login-box {
    width: 80%;
}

.login-box {
width: 90%;
}

}


.logo-icon img {
  margin-top: 10px;
}

ul.header-box {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  align-items: center;
  width: 100%;
}

ul.header-box li:nth-child(2n) {
  padding-left: 10px;
}

ul.header-box li:nth-child(3n) {
  width: 40%;
  text-align: left;
  margin-left: 45px;
}


ul.header-box li:nth-child(4n) {
  width: 33%;
  text-align: right;
}

ul.taskmenu {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul.taskmenu li a {
  color: #fff;
  text-decoration: none;
}


ul.taskmenu li button {
  background: #0d229b;
  margin-right: 7px;
}
ul.taskmenu li  {
  background: #3f51b5;
  font-size: 14px;
  padding: 4px 8px;
  margin-right: 10px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  border: solid 1px #25337c;
}

.active {
  background: #2196f3 !important;
  color: #fff !important;
}

ul.taskmenu li a {
  display: block;
}

@media only screen and (max-width: 600px) {
  ul.header-box li:nth-child(2n) {
      font-size: 15px;
  }
}