<app-header></app-header>

<ul class="login-box">
    <li><mat-card>
            <form [formGroup]="userlogin" (ngSubmit)="onSubmit()">

            <ul class="login-data">
                <li>
                <h4>User Login</h4>
                </li>
                <li>

                <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>User name</mat-label>
                        <input matInput type="text" placeholder="User" formControlName="username">
                        <mat-error *ngIf="checkError('username', 'required')">User Name is required</mat-error>
                </mat-form-field>

                </li>
                <li>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="Password" formControlName="password">
                        <mat-error *ngIf="checkError('password', 'required')">Password is required</mat-error>
                    </mat-form-field>
                </li>
                <li>
                   
                        <ul class="submit-btn">
                            <li><button mat-raised-button color="primary" type="submit" [disabled]="!userlogin.valid">Login</button></li>
                        </ul>

                  
                </li>
            </ul>

            </form>
        </mat-card>

    </li>
</ul>